@font-face {
  font-family: "Product Sans";
  src: url("/fonts/Product\ Sans\ Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html,
body {
  background-color: var(--primary-background);
  font-family: "Product Sans";
  height: 100vh;
  overflow: hidden;
}
:root {
  --primary-color: #e3e3e3;
  --border-button: #8e918f;
  --secondary-button: #37393b;
  --big-calender-background: #131314;
  --primary-background: #1b1b1b;
  --big-calender-text: #c4c7c5;
  --big-calender-event-box-border: #333537;
  --form-button: #c2e7ff;
  --form-button-hover: #a8c7fa;
  --form-button-text: #062e6f;
  --event-border-and-text: #4b99d2;
}

.header-container {
  width: 100%;
  height: 64px;
  padding: 8px;
}

.icon-and-logo-container {
  display: none;
}

@media (min-width: 768px) {
  .icon-and-logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-right: 40px;
  }
}

.logo-text {
  color: white;
  font-weight: normal;
  font-size: 23px;
  line-height: 48px;
  padding-left: 16px;
}

.icon-container {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
  border-radius: 9999px;
}

.main-icon-container {
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.main-icon-container:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.header-second-part {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.arrows-container {
  margin-right: 30px;
}

.after-logo-first-part {
  align-items: center;
}

.header-date-text {
  color: var(--primary-color);
  font-size: 23px;
}

.button-header {
  height: 38px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9999px;
  cursor: pointer;
  background: none;
  border: 1px solid var(--border-button);
  margin-right: 20px;
  align-items: center;

  color: var(--primary-color);
  font-size: 14px;
}

.button-header:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.dropdown-triangle {
  display: flex;
  justify-content: center;
  margin-left: 6px;
}

.cursor-pointer {
  cursor: pointer;
}

.arrow-container-small {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.arrow-container-small:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.arrow-container-big:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.arrow-small {
  width: 15px;
  height: 15px;
  display: block;
  object-fit: contain;
}

.arrow-container-big {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
}

.arrow-big {
  width: 20px;
  height: 20px;
  display: block;
  object-fit: contain;
}

.create-button {
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--secondary-button);
  padding: 16px;
  border-radius: 16px;
  border: none;
  margin-bottom: 32px;

  color: white;
}

.create-button:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.main-container {
  display: grid;
  grid-template-columns: 256px 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
}

.small-calender-header {
  color: var(--primary-color);
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 6px;
  padding-left: 12px;
}

.row {
  display: flex;
  flex-direction: row;
}

aside {
  margin-right: 25px;
  margin-left: 25px;
  padding-top: 32px;
}

.small-calender-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 28px);
  place-items: center;
}

.small-calender-grid-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.small-calender-not-current-month-grid-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  opacity: 0.4;
}

.small-calender-grid-weekday {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-size: 10px;
}

.small-calender-number-container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.small-calender-current-day-container {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: var(--form-button);
}

.text-black {
  color: black;
}

.text-primary {
  color: var(--primary-color);
}

.small-calender-number-container:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.spacer-large {
  width: 69px;
  height: 84px;
}

.spacer-horizontal {
  width: 100%;
  height: 16px;
}

.big-calender {
  background-color: var(--big-calender-background);
  border-radius: 16px;
  padding-right: 10px;
  position: relative;
  height: calc(100vh - 64px);
  width: 100%;
  overflow-y: auto;
  min-width: 1400px;
  padding-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 69px;

  width: calc(7 * 225px);
  height: calc(24 * 50px);
  pointer-events: auto;

  z-index: 15;
}

.overlay-grid {
    display: grid;
    grid-template-columns: repeat(7, 225px);
    grid-template-rows: repeat(24, 50px);
    width: 100%;
    height: 100%;
  }
  
  .overlay-cell {
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.2s ease;
  }

.selected {
  background-color: var(--big-calender-background);
  border: 1px solid var(--event-border-and-text);
  color: var(--event-border-and-text);
  padding: 4px;
  font-size: 10px;
  border-radius: 4px;
  z-index: 15px;
}

.calendar-event {
  position: absolute;
  border-radius: 6px;
  color: orange;
  border: 1px orange solid;
  padding: 4px;
  font-size: 10px;
  overflow: hidden;
  cursor: pointer;
  z-index: 15;
}

.big-calender-body {
  display: grid;
  position: relative;
  grid-template-columns:
    minmax(51px, 60px)
    minmax(7px, 9px)
    repeat(7, minmax(190px ,225px));
  grid-template-rows: repeat(24, 50px);
}

.big-calender-date-container {
  display: flex;
  width: 225px;
  height: 84px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  color: var(--big-calender-text);
}

.big-calender-number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  color: var(--big-calender-text);
}

.big-calender-number-container:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.big-calender-today-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--form-button);
  color: black;
  border-radius: 9999px;
  color: black;
}

.calendar-header-sticky {
  position: sticky;
  z-index: 20;
  top: 0;
  background-color: var(--big-calender-background);
}

.weekday-text {
  font-size: 11px;
}

.weekday-number {
  font-size: 26px;
}

.time-zone-text {
  font-size: 11px;
  margin-left: 8px;
  color: var(--big-calender-text);
}


.top-border {
  border-top: 1px solid var(--big-calender-event-box-border);
}

.top-left-right-border {
  border-bottom: 1px solid var(--big-calender-event-box-border);
  border-left: 1px solid var(--big-calender-event-box-border);
  border-right: 1px solid var(--big-calender-event-box-border);
}

.all-borders {
  border: 1px solid var(--big-calender-event-box-border);
}

.big-calender-time-text {
  font-size: 11px;
  text-align: right;
  position: relative;
  top: -4px;
  margin-right: 8px;
  color: var(--big-calender-text);
}

/* MODAL STYLING */

.modal-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: auto;
  width: 100%;
  height: 100%;

  z-index: 1000;
  left: 0;
  top: 0;
}

.modal-container {
  background-color: var(--big-calender-background);
  display: flex;

  width: 650px;
  height: 350px;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px 8px 20px 8px;
  z-index: 40;
}

.top-bar-container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 42px;

  border-radius: 9999px;
  padding: 10px;
}

.close-icon-container {
  width: 25px;
  height: 25px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.close-icon-container:hover {
  background-color: rgba(227, 227, 227, 0.2);
}

.close-icon {
  width: 20px;
  height: 20px;
}

/* FORM STYLING */

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--big-calender-text);
}

input[type="text"] {
  border: none;
  outline: none;
  height: 24px;
  margin-bottom: 3px;
  background-color: transparent;
  color: var(--big-calender-text);
  font-size: 24px;
  border-bottom: var(--border-button) 2px solid;
  margin-bottom: 15px;
}

input::placeholder {
  color: var(--big-calender-text);
  opacity: 1;
  font-size: 24px;
}

textarea::placeholder {
  color: var(--big-calender-text);
  font-size: 12px;
}

.date-choice-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.event-date {
  height: 40px;
  width: 140px;
  background-color: var(--big-calender-event-box-border);
  margin-right: 40px;
  border: none;
  border-radius: 6px;
  color: var(--primary-color);
  outline: none;
  text-align: center;
}

.time-from-to-symbol {
  margin-left: 10px;
  margin-right: 10px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.event-time-selector {
  height: 40px;
  width: 80px;
  border-radius: 6px;
  background-color: var(--big-calender-event-box-border);
  border: none;
  color: var(--primary-color);
  outline: none;
  text-align: center;
}

.event-time-selector,
.event-date,
.form-description,
.title {
  border-bottom: 2px solid var(--big-calender-event-box-border);
}

.event-time-selector:focus,
.event-date:focus,
.form-description:focus,
.title:focus {
  border-bottom: 2px solid var(--form-button);
}

.form-description {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  font-size: 12px;
  color: var(--big-calender-text);
  padding: 15px;
  resize: none;

  margin-bottom: 15px;
}

.form-save-button {
  display: inline-block;
  padding: 12px 18px 12px 18px;
  align-self: flex-end;
  border-radius: 16px;
  background-color: var(--form-button);
  color: var(--form-button-text);
  border: none;
}

.form-save-button:hover {
  background-color: var(--form-button-hover);
}
